/* Global Vars for ez styling */

*, *::before, *::after {
    font-family: IBM Plex Sans;
    box-sizing: border-box;
}

:root {
    --hue-neutral: 180;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 30%);
}

/* Styling for background colors to change */

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

/* Styling for question container */

.container {
    width: 400px;
    max-width: 80%;
    background-color: hsl(var(--hue), 100%, 90%);
    border: 3px solid hsl(var(--hue), 100%, 80%);
    border-radius: 10px;
    padding: 2rem;
}

/* header stlying */

h1, h3, h4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling for buttons */

.btn-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 20px 0;
}

.start-btn, .next-btn {
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 40%);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    border-radius: 8px;
    padding: 5px 10px;
    color: #fff;
    outline: none;
}

.btn:hover {
    border-color: hsl(var(--hue), 100%, 20%);
    color: hsl(var(--hue), 100%, 20%);
}

.btn.correct {
    --hue: var(--hue-correct);
    color: hsl(var(--hue), 100%, 20%);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setup to hide elements */

.hide {
    display: none;
}